<mat-toolbar color="primary">

  <button mat-button routerLink="/" class="title">
    <mat-icon style="transform: scale(1.5); margin-right: 0.1em;">poll</mat-icon> {{title}}
  </button>
  <span class="spacing"></span>

  <button mat-button routerLink="/institutes" class="subtitle">
    Institutes<mat-icon>business</mat-icon>
  </button>
  <span class="spacing"></span>

  <button mat-button routerLink="/authors" class="subtitle">
    Authors<mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span class="spacing"></span>

  <button mat-button routerLink="/articles" class="subtitle">
    Articles<mat-icon>find_in_page</mat-icon>
  </button>
  <span class="spacing"></span>

  <button mat-button routerLink="/topics" class="subtitle">
    Topics<mat-icon>local_offer</mat-icon>
  </button>
  <span class="spacing"></span>

  <button mat-button routerLink="/venues" class="subtitle">
    Venues<mat-icon>place</mat-icon>
  </button>
  <span class="spacing"></span>

</mat-toolbar>

<router-outlet></router-outlet>

<!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
