<div class="container">
  
  <h2>{{article['title']}}</h2>

  <mat-list>
    
      <!-- <mat-list-item> Name: {{article.title}} </mat-list-item>
      <mat-divider></mat-divider> -->

      <mat-list-item> Published at: {{article.venue_name}} ({{article.venue_acronym}}) </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item> Year of publication: {{article.year}} </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item> Total citations: {{article.n_citations}} </mat-list-item>

  </mat-list>
  <div class="chart">
      <apx-chart
        [series]="citations_chartOptions.series"
        [chart]="citations_chartOptions.chart"
        [xaxis]="citations_chartOptions.xaxis"
        [title]="citations_chartOptions.title"
      ></apx-chart>
      <br>
      <div echarts [options]="graphOption"></div>
  </div>

</div>

