table {
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

mat-form-field {
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.demo-chart {
    height: 400px;
}