<div class="container">
    
    <h2>Authors</h2>

    <div class="flex-center">

        <mat-form-field appearance="fill" class="filter">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter" #input>
        </mat-form-field>

        <mat-form-field appearance="fill" class="dropdown">
        <mat-label>Filter by topics</mat-label>
        <mat-select (selectionChange)="chooseTopics($event)" [formControl]="topicFilter" multiple>
            <mat-select-trigger>
            {{topicFilter.value ? topicFilter.value[0] : "All"}}
            <span *ngIf="topicFilter.value?.length > 1" class="example-additional-selection">
                (+{{topicFilter.value.length - 1}} {{topicFilter.value?.length === 2 ? 'other' : 'others'}})
            </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topic of topicList" [value]="topic">{{capitalize(topic)}}</mat-option>
        </mat-select>
        </mat-form-field>

        <ngx-slider
            [(value)]="start_year"
            [(highValue)]="end_year"
            [options]="options"
            (valueChange)="handleUserChange()"
            (highValueChange)="handleUserChange()"
        ></ngx-slider>

    </div>

    <table mat-table [dataSource]="dataSource" class=""
        matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
          <td mat-cell *matCellDef="let author"> {{author.name}} </td>
        </ng-container>

        <ng-container matColumnDef="h_index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="h_index"> H-Index </th>
          <td mat-cell *matCellDef="let author"> {{author.h_index}} </td>
        </ng-container>

        <ng-container matColumnDef="n_pubs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="n_pubs"> Total Publications </th>
          <td mat-cell *matCellDef="let author"> {{author.n_pubs}} </td>
        </ng-container>

        <ng-container matColumnDef="n_citations">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="n_citations"> Total Citations </th>
            <td mat-cell *matCellDef="let author"> {{author.n_citations}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openRow(row)" class="clickable"></tr>
    </table>

    <mat-paginator #paginator
                    [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page">
    </mat-paginator>

</div>
  