<div class="container">
  
    <h2>Venue: {{venue.name}}</h2>

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{venue.name}} ({{venue.acronym}})</mat-card-title>
            <mat-card-subtitle>ID: {{venue.id}}</mat-card-subtitle>
            <mat-card-subtitle>{{venue.type}}</mat-card-subtitle>
            <mat-card-subtitle>{{venue.n_pubs}} publications</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <div class="chart">
        <apx-chart
            [series]="pubs_chartOptions.series"
            [chart]="pubs_chartOptions.chart"
            [xaxis]="pubs_chartOptions.xaxis"
            [title]="pubs_chartOptions.title"
        ></apx-chart>
    </div>

</div>