<div class="container">

  <h2>{{venue.name}} ({{venue.acronym}})</h2>

  <mat-list>

    <mat-list-item> Name: {{venue.name}} ({{venue.acronym}}) </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Total publications: {{venue.n_pubs}} </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Total citations: {{venue.n_citations}} </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Average citations: {{(venue.n_pubs == 0)? 0 : venue.n_citations / venue.n_pubs | number : '1.2-2'}}
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Flexibility: {{venue.flexibility}} </mat-list-item>

  </mat-list>

  <div *ngIf="venue.n_pubs">
    <div class="chart">
      <apx-chart [series]="pubs_chartOptions.series" [chart]="pubs_chartOptions.chart" [xaxis]="pubs_chartOptions.xaxis"
        [title]="pubs_chartOptions.title"></apx-chart>
    </div>
  </div>

  <div *ngIf="venue.n_pubs == 0">
    <h3>No Publication analysis</h3>
  </div>

</div>
