<div class="container">

  <h2>{{topic.name | titlecase}}</h2>

  <mat-list>

    <mat-list-item> Name: {{topic.name | titlecase}} </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Total publications in this topic: {{topic.n_articles}} </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Total authors publishing in this topic: {{topic.n_authors}} </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Total citations: {{topic.n_citations}} </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item> Average citations:
      {{(topic.n_articles == 0)? 0 : topic.n_citations / topic.n_articles | number : '1.2-2'}} </mat-list-item>

  </mat-list>

  <div *ngIf="topic.n_articles">
    <div class="chart">
      <apx-chart [series]="pubs_chartOptions.series" [chart]="pubs_chartOptions.chart" [xaxis]="pubs_chartOptions.xaxis"
        [title]="pubs_chartOptions.title"></apx-chart>
      <br />
      <div *ngIf="topic.n_citations">
        <apx-chart [series]="citations_chartOptions.series" [chart]="citations_chartOptions.chart"
          [xaxis]="citations_chartOptions.xaxis" [title]="citations_chartOptions.title"></apx-chart>
      </div>
    </div>
  </div>

  <div *ngIf="topic.n_articles == 0">
    <h3>No Publication analysis</h3>
    <div *ngIf="topic.n_citations == 0">
      <h3>No Citation analysis</h3>
    </div>
  </div>

</div>
