<div class="container">
  
  <h2>Topic: {{topic.name}}</h2>

  <mat-card>
      <mat-card-header>
        <mat-card-title>{{capitalize(topic.name)}}</mat-card-title>
        <mat-card-subtitle>ID: {{topic.id}}</mat-card-subtitle>
        <mat-card-subtitle>{{topic.n_authors}} authors</mat-card-subtitle>
        <mat-card-subtitle>{{topic.n_articles}} articles</mat-card-subtitle>
        <mat-card-subtitle>{{topic.n_citations}} citations</mat-card-subtitle>
      </mat-card-header>
  </mat-card>

  <div class="chart">
    <apx-chart
      [series]="pubs_chartOptions.series"
      [chart]="pubs_chartOptions.chart"
      [xaxis]="pubs_chartOptions.xaxis"
      [title]="pubs_chartOptions.title"
    ></apx-chart>
    <br/>
    <apx-chart
      [series]="citations_chartOptions.series"
      [chart]="citations_chartOptions.chart"
      [xaxis]="citations_chartOptions.xaxis"
      [title]="citations_chartOptions.title"
    ></apx-chart>
  </div>

</div>
